*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgb(230, 201, 220) 35%, rgb(228, 230, 145) 95%);
    min-height: 100vh;
    
}
.textarea-container {
    position: relative;
}
.textarea-container textarea {
    padding-right: 40px;
}
.textarea-container .btn-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    background: none;
    color: #555;
    cursor: pointer;
}
.button{
    background-color: blueviolet;
    padding: 10px 17px;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    border: none;
}
.note-head{
    font-size: 27px;
    color: blueviolet;
}